/* 
    Document   : style
    Created on : 14-April-2014, 16:29
    Author     : William Fyson    
*/

body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 80%;
}

/*
    File Input 
*/

#file_upload{
    margin-top: 20%;
    text-align: center;
}

#file_input{        
    margin-left: auto;
    margin-right: auto;
    width: 114px;   
    
    position:relative;
}

#drop_zone{    
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
    
    border-style: dashed;
    
    text-align: center;
}

#drop_zone h3{
    padding: 25px;
    
    /*Overide bootstrap*/
    margin-top: 0;
    margin-bottom: 0;
}

#upload_progress{
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    
    margin-top: 30%;
    
    display: none;
}

/*
    The big divs
*/

#main{
    display: none;
}

#view{
    background: red;
    height: 80%;
}

#sidebar{
    background: blue;
    height: 80%;
}
