/* 
    Document   : style
    Created on : 14-April-2014, 16:29
    Author     : William Fyson    
*/

body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 80%;
}

/*
    File Input 
*/

#file_upload{
    margin-top: 20%;
    text-align: center;
}

#file_input{        
    margin-left: auto;
    margin-right: auto;
    width: 114px;   
    
    position:relative;
}

#drop_zone{    
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
    
    border-style: dashed;
    
    text-align: center;
}

#drop_zone h3{
    padding: 25px;
    
    /*Overide bootstrap*/
    margin-top: 0;
    margin-bottom: 0;
}

#upload_progress{
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    
    margin-top: 30%;
    
    display: none;
}

/*
    The big divs
*/

#main{
    display: none;
}

#banner{
    margin-bottom: 15px;
    padding-bottom: 15px;
    
    border-bottom-style: outset;
}

#banner h3{
    margin-left: 20px;
    vertical-align: middle;
    display: inline;
}

#view{    
    padding: 0;
    
    overflow: auto;
}

#view ul{
    list-style-type: none;
}

#sidebar{
    height: 800px;
    
    background-color: #f7f7f9;
    
    border: 1px solid #e1e1e8;
    border-radius: 4px;   
    
    overflow: auto;
}

/*
    Sidebar Content
*/

.img-thumbnail{
    margin: 15px 10% 5px 10%;
    max-width: 80%;
}

#sidebar h4{
    text-align: center;
}

/*
    Redactable things
*/

.entry{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;       
    
    cursor: pointer;
    
    display: block;
}

.text-entry{
    padding-left: 20px;
}

.img-entry{
    
}

.img-preview{
    margin: 5px 10px 5px 5px;
    vertical-align: middle;
    display: inline-block;
}

.img-preview img{
    max-height: 150px;
    max-width: 200px;
}

.meta{
    vertical-align: middle;
    display: inline-block; 
    height: 100%;    
}

.meta span{
    display: block;
}

/*
    Text redaction
*/

.text-view .redact{
    color:red;
}

.text-view .check{
    vertical-align: top;
    width:5%; 
    display: inline-block;
}

.text-view p{    
    vertical-align: top;
    width: 95%;
    display: inline-block;
    
    border-left: solid;
    border-width: thin;
    padding-left: 5px;
}

.text-view .heading .check{
    vertical-align: middle;
    width:5%; 
    display: inline-block;
}

.text-view h1, .text-view h2, .text-view h3, .text-view h4, .text-view h5, .text-view h6{
    vertical-align: middle;
    width: 95%;
    display: inline-block;    
}

.text-view img{
    max-width: 100%;
}

.text-sidebar{
    position:fixed;
    overflow:auto;    
}

.indent-3{
    margin-left: 15px;
}

.indent-4{
    margin-left: 30px;
}

.indent-5{
    margin-left: 45px;
}

/*
    Image Redaction
*/

.image-sidebar .option-div{    
    margin-bottom: 20px;
    padding-bottom: 20px;
    
    border-bottom-style: outset;
}

.image-sidebar .img-thumbnail{
    max-width: 50%;
    margin: 15px 25% 5px 25%;
}

.img-view img{
    width: 100%;
}