/* 
    Document   : style
    Created on : 14-April-2014, 16:29
    Author     : William Fyson    
*/

body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 80%;
}

/*
    File Input 
*/

#file-upload{
    margin-top: 20%;
    text-align: center;
}

#file-input{        
    margin-left: auto;
    margin-right: auto;
    width: 114px;   
    
    position:relative;
}

#drop-zone{    
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
    
    border-style: dashed;
    
    text-align: center;
}

#drop-zone h3{
    padding: 25px;
    
    /*Overide bootstrap*/
    margin-top: 0;
    margin-bottom: 0;
}

#upload-progress{
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    
    margin-top: 30%;
    
    display: none;
}

#file-error{
    display: none;
    margin: 20% auto 0 auto;
    width: 50%;    
    text-align: center;
}

#file-error #file-btn{
    text-align: center;
}

#file-error #file-alert{
    margin: 15px auto 0 auto;
}

/*
    The big divs
*/

#main{
    display: none;
}

#banner{
    margin-bottom: 15px;
    padding-bottom: 15px;
    
    border-bottom-style: outset;
    
    display: table;
    table-layout: fixed;
}

#banner > div {
    display: table-cell;
}

#banner h3{
    margin-left: 20px;
    vertical-align: middle;
    display: inline;    
}

#view{    
    padding: 0;
    
    overflow: auto;
}

#view ul{
    list-style-type: none;
}

#sidebar{
    position:fixed;
    
    height: 85%;
    
    background-color: #f7f7f9;
    
    border: 1px solid #e1e1e8;
    border-radius: 4px;   
    
    overflow: auto;
}

/*
    Sidebar Content
*/

.img-thumbnail{
    margin: 15px 10% 5px 10%;
    max-width: 80%;
}

#sidebar h4{
    text-align: center;
}

#sidebar .sidebar-overview{
    margin-top: 25px;
}

#sidebar .sidebar-overview h4{
    text-align: left;
}

#sidebar .sidebar-overview .image-overview{
    margin-top: 25px;
}

#sidebar .sidebar-overview .image-overview .total-overview{
    margin-top: 5px;
    padding-top: 5px;
    border-top: solid;
    border-width: thin;
}

/*
    Redactable things
*/

.entry{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;       
    
    cursor: pointer;
    
    display: block;
    
    color: black;
}

.text-entry{
    padding-left: 20px;
}

.text-entry .img-preview{
    background: none;
}

.img-entry{
    
}

.img-preview{
    margin: 5px 10px 5px 5px;
    vertical-align: middle;
    display: inline-block;
    background: white;    
}

.img-preview img{
    max-height: 150px;
    max-width: 200px;
}

.meta{
    vertical-align: middle;
    display: inline-block; 
    height: 100%;  
    width: 200px;
}

.meta div{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
    Text redaction
*/

.text-view .redact{
    color:red;
}

.text-view .check{
    vertical-align: top;
    width:5%; 
    display: inline-block;
}

.text-view p{    
    vertical-align: top;
    width: 95%;
    display: inline-block;
    
    border-left: solid;
    border-width: thin;
    padding-left: 5px;
}

.text-view .heading .check{
    vertical-align: middle;
    width:5%; 
    display: inline-block;
}

.text-view h1, .text-view h2, .text-view h3, .text-view h4, .text-view h5, .text-view h6{
    vertical-align: middle;
    width: 95%;
    display: inline-block;    
}

.text-view img{
    max-width: 100%;
}

.text-sidebar{    
    padding-top: 5px;
}

.indent-3{
    margin-left: 15px;
}

.indent-4{
    margin-left: 30px;
}

.indent-5{
    margin-left: 45px;
}

/*
    Image Redaction
*/

#back-container{
    width: 140px;
}

#overview-container{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}

#overview-container h3{
    margin-left: 5px;
}

#cancel-container{
    width: 80px;
} 

.image-sidebar .option-div{  
    padding-bottom: 20px;
    
    border-bottom-style: outset;
}

.image-sidebar .option-div .option-title{
    padding-top: 10px;
    padding-bottom: 5px;
}

.image-sidebar .option-div .option-title h4{
    display: inline;
    margin-right: 10px;
}

.image-sidebar .option-div.last{     
    border-bottom-style: none;
}

.image-sidebar .img-thumbnail{
    max-width: 50%;
    margin: 15px 25% 5px 25%;
}

.image-sidebar #loading{
    margin-left: 15px;
    display: none;
}

.image-sidebar .sidebar-help{
    float:right;
    margin-top: 5px;    
}

.image-sidebar .tooltip{
    position: fixed;
}

.img-view img{
    width: 100%;
}

.img-view .image-row{
    margin-bottom: 15px; 
    min-height: 160px;
}

.img-view .search-prev{    
    max-width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    
    display: inline-block;
}

.img-view .control-row{
    width: 100%;
}

.img-view .control-row .prev{
    float: left;
}

.img-view .control-row .next{
    float: right;
}

.img-view .control-row .results-progress{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.new-img-view img{
    max-width: 100%;
}

.new-licence-view img{
    max-width: 60%;
    display: inline-block;
    vertical-align: middle;
}

.new-licence-view .new-licence{
    margin-left: 4%;
    width: 35%;
    display: inline-block;
    vertical-align: middle;
    
    border-left: solid;
    border-width: thin;
    padding-left: 1%;
}